@model JustSellIt.Application.ViewModels.Product.ListProductForAdminListVm

@{
    ViewData["Title"] = "Panel administratora";
}

<partial name="_AlertPanel" />

<form id="searchForm" asp-action="Index" asp-controller="Admin" method="get">

    <div class="admin-welcome">
        <h1>Witaj administratorze!</h1>
        <div class="admin-product-count">Liczba ogłoszeń do weryfikacji: @Model.Count</div>
        <img alt="admin-icon" src="~/images/other/admin.png" />
    </div>

    @if (Model.Count > 0)
    {
        <h1 class="add-title mt-5 mb-5" style="font-weight:bold;text-align:center">Ogłoszenia do weryfikacji</h1>
    }

    <partial name="_ProductTile" />

    <input id="submitSearch" type="submit" hidden="hidden" />

    @if (Model.Count > 0)
    {
        <partial name="_Pagination" />
    }

    @if (Model.Count == 0)
    {
        <h1 class="add-title mt-5 mb-5" style="font-weight:bold;text-align:center">Brak ogłoszeń do weryfikacji</h1>
    }

</form>

@section Scripts{
    <script type="text/javascript">
        $('#searchForm').submit(function () {
            $(this)
                .find('input[name]')
                .filter(function () {
                    return !this.value;
                })
                .prop('name', '');
        });
    </script>
}