@page
@model ForgotPasswordConfirmation

<div class="text-center add-title" style="margin-bottom:70px !important;">
    <h1 class="mt-5">Restartowanie hasła</h1>
    <img style="height:150px;width:150px;margin-top:30px;border-radius:50%" src="~/images/other/forgotPassword.jpg" alt="registerConfirmation" />
    <p class="mt-4" style="font-size:18px;">
        Na adres e-mail została wysłana wiadomość w celu zresetowania hasła.
        Prosimy sprawdzić pocztę oraz ustawić nowe hasło aby móc w pełni korzystać z portalu.
        Jeżeli wiadomość nie dotarła spróbuj wysłać prosbę o restart hasła jeszcze raz klikając
        <a href="/Identity/Account/ForgotPassword" style="font-weight:bold;">tutaj</a>.
    </p>
</div>
