@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetowanie hasła";
}


<div class="text-center add-title" style="margin-bottom:70px !important;">
    <h1 class="mt-5">Hasło zostało zmienione</h1>
    <img style="height:150px;width:150px;margin-top:30px;border-radius:50%" src="~/images/other/forgotPassword.jpg" alt="registerConfirmation" />
    <p class="mt-4" style="font-size:18px;">
        Gratulujemy, zmiana hasła została zakończona pomyślnie. Teraz możesz w pełni korzystać z portalu.
        Przejdź do logowania używając nowego hasła, możesz to zrobić klikając
        <a href="/Identity/Account/Login" style="font-weight:bold;">tutaj</a>.
    </p>
</div>

