@page
@model ResendEmailConfirmationModel

<div class="add-section text-center pb-0">
    <form method="post">
        <partial name="_AlertPanel" />
        <h1 class="mt-3 mb-4 text-center add-title">Ponowne wysyłanie weryfikacji</h1>
        <hr />
        <div style="max-width:400px;margin-left:auto;margin-right:auto;margin-top:20px;">
            <div class="add-caption">
                <label class="control-label">Adres e-mail</label>
            </div>
            <input asp-for="Input.Email" class="form-control add-field" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn add-btn mt-5 mb-4">Wyślij ponownie</button>
        <hr />
        <div class="form-group mb-0 otherLink">
            <p>
                <a href="/Identity/Account/Login">Zaloguj się</a>
            </p>
            <p>
                <a href="/Identity/Account/Register">Utwórz nowe konto</a>
            </p>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
