@page
@model ResetPasswordModel


    <div class="add-section text-center pb-0">
        <form method="post">
            <input asp-for="Input.Code" type="hidden" />
            <h1 class="mt-3 mb-4 text-center add-title">Resetowanie hasła</h1>
            <partial name="_AlertPanel" />
            <hr />
            <div style="max-width:400px;margin-left:auto;margin-right:auto;margin-top:20px;">
                <div class="add-caption text-left">
                    <label class="control-label">Adres e-mail<span class="add-required">*</span></label>
                </div>
                <input asp-for="Input.Email" class="form-control add-field" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="max-width:400px;margin-left:auto;margin-right:auto;margin-top:20px;">
                <div class="add-caption text-left">
                    <label class="control-label">Hasło<span class="add-required">*</span></label>
                </div>
                <input asp-for="Input.Password" class="form-control add-field" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div style="max-width:400px;margin-left:auto;margin-right:auto;margin-top:20px;">
                <div class="add-caption text-left">
                    <label class="control-label">Powtórz hasło<span class="add-required">*</span></label>
                </div>
                <input asp-for="Input.ConfirmPassword" class="form-control add-field" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="mt-4 mb-4 btn-submit-sm ml-auto mr-auto d-block" style="max-width:200px !important;">Zresetuj hasło</button>
            <hr />
            <div class="form-group mb-0 otherLink">
                <p>
                    <a href="/Identity/Account/Login">Zaloguj się</a>
                </p>
                <p>
                    <a href="/Identity/Account/Register">Utwórz nowe konto</a>
                </p>
            </div>
        </form>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
