@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2 class="mt-4 add-title">Ustawienia konta</h2>

<div>
    <hr />
    <div class="row mt-md-5 color">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 mt-3 m-md-0">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
