@page


<h1 class="add-title mt-5" style="font-weight:bold;text-align:center;">Nieznany błąd</h1>
<div class="not-found text-center mb-4 mt-4">
    <img style="border-radius: 30px;" class="img-fluid" src="~/images/other/notFound.png" alt="Not Found" />
</div>