@model JustSellIt.Application.ViewModels.Product.NewOrEditProductVm

@{
    ViewData["Title"] = "AddProduct";
}

<div class="add-title form-inline mt-4">
    <i class="fas fa-tag form-inline"></i><h1 class="ml-4">Dodaj ogłoszenie!</h1>
</div>
<hr />

<div class="row">
    <div class="col-md-12 mt-3">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="add-section">
                <div class="add-subtitle mt-2 mb-2">
                    <i class="fas fa-dolly" style="font-size:30px;"></i>
                    <span>Informacje o produkcie</span>
                    <hr />
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <div class="add-caption">
                                <label class="control-label">Tytuł<span class="add-required">*</span></label>
                            </div>
                            <input placeholder="Produkt" asp-for="Title" class="form-control add-field" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Dobierz odpowiedni tytuł do swojego produktu. Prosimy, nie pisz WIELKIMI LITERAMI." />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 col-sm-12 add-price mt-3">
                            <div class="add-caption">
                                <label class="control-label">Cena<span class="add-required">*</span></label>
                            </div>
                            <div class="input-group">
                                <input placeholder="1 000,00" asp-for="Price" class="form-control add-field" autocomplete="off" />
                                <div class="input-group-append">
                                    <span class="input-group-text">zł</span>
                                </div>
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 mt-5 add-negotiate">
                            <span class="add-text">Do negocjacji</span>
                            <label class="switch ml-4">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="col-md-12 mt-5 add-status btn-status">
                            <span class="add-text">Stan<span class="add-required">*</span></span>
                            <input type="button" id="new" value="Nowe" class="ml-3 btn btn-unchecked" onclick="setNew(this)" />
                            <input type="button" id="used" value="Używane" class="ml-3 btn btn-unchecked" onclick="setUsed(this)" />
                        </div>

                        <div class="col-md-12 mt-5">
                            <span class="add-text">Kategoria<span class="add-required">*</span></span>
                            <div class="add-category mt-1" data-toggle="modal" data-target="#selectCategoryModal">
                                <img id="categoryImg" alt="Categories" src="/images/categories/categories.png" />
                                <span class="ml-lg-4">Wybierz kategorię...</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="col-md-12">
                            <div class="add-caption">
                                <label class="control-label">Opis<span class="add-required">*</span></label>
                            </div>
                            <textarea placeholder="Sprzedam produkt..." asp-for="Description" class="form-control add-field" rows="7" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Opisz szczegółowo, co oferujesz. To ważne, ponieważ dobrze opisane oferty dostają więcej odpowiedzi. Nie używaj wulgaryzmów i WIELKICH LITER."></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mt-4">
                            <span class="add-text ml-3">Zdjęcia</span>
                            <div class="col-12 mt-2 row ml-0">
                                <div class="add-upload-main col-4"><span>To będzie twoje zdjęcie główne</span></div>
                                <div class="add-upload col-4 offset-1"><i class="fas fa-camera"></i></div>
                            </div>
                            <div class="col-md-12 mt-5 row ml-0 add-images">
                                <div class="add-upload col-4"><i class="fas fa-camera"></i></div>
                                <div class="add-upload col-4  offset-1"><i class="fas fa-camera"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-section mt-4">
                <div class="add-subtitle mt-2 mb-2">
                    <i class="fas fa-user" style="font-size:30px;"></i>
                    <span>Dane kontaktowe</span>
                    <hr />
                </div>
                <div class="add-user-profile">
                    <img src="/images/sex/man.png" alt="avatar" />
                </div>
                <div class="row mb-4">
                    <div class="col-md-4 offset-md-1">
                        <div class="add-caption">
                            <label class="control-label">lokalizacja<span class="add-required">*</span></label>
                        </div>
                        <input value="Wrocław" class="form-control add-field" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Wpisz nazwe miejscowości, a następnie wybierz ją z listy. " />
                    </div>
                    <div class="col-md-4 offset-md-2">
                        <div class="add-caption">
                            <label class="control-label">imię<span class="add-required">*</span></label>
                        </div>
                        <input value="Jan" class="form-control add-field" autocomplete="off" readonly data-toggle="tooltip" data-placement="right" title="Twoje imię możesz zmienić w ustawieniach." />
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <div class="add-caption">
                            <label class="control-label">Adres e-mail<span class="add-required">*</span></label>
                        </div>
                        <input value="jan99@gmail.pl" class="form-control add-field" autocomplete="off" readonly data-toggle="tooltip" data-placement="right" title="Twój adres e-mail możesz zmienić w ustawieniach." />
                    </div>
                    <div class="col-md-4 offset-md-2">
                        <div class="add-caption">
                            <label class="control-label">Numer telefonu<span class="add-required">*</span></label>
                        </div>
                        <input value="667384853" class="form-control add-field" autocomplete="off" data-toggle="tooltip" data-placement="right" title="Podaj swój numer telefonu, aby inni użytkownicy mogli sie z tobą skontaktować." />
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="OwnerId" />
            <input type="hidden" asp-for="ProductStatusId" />

            <div class="form-group form-check mt-4">
                <label class="form-check-label">
                    <input class="form-check-input add-checkbox" asp-for="StorePolicy" /> <span class="add-storePolicy">Wyrażam zgodę na używanie przez Grupę JustSellIt środków komunikacji elektronicznej oraz telekomunikacyjnych urządzeń końcowych w celu przesyłania mi informacji handlowych oraz prowadzenia marketingu (np. newsletter) przez Grupę JustSellIt, podmioty powiązane i partnerów biznesowych. Moja zgoda obejmuje numery telefonów i adresy e-mail wykorzystywane podczas korzystania z usług Grupy JustSellIT. Wyrażoną zgodę można wycofać lub ograniczyć w dowolnej chwili za pomocą odpowiednich ustawień konta lub zgłaszając nam takie żądanie.</span><span class="add-required">*</span>
                </label>
            </div>

            <div class="form-group mt-4 mr-4 float-md-right">
                <input type="submit" value="Dodaj" class="btn add-btn mb-3" />
                <input type="submit" value="Zapisz jako wersja robocza" class="btn add-btn mb-3" />
            </div>

            <div id="selectCategoryModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Wybierz kategorię</h4><i class="fas fa-times-circle" data-dismiss="modal" style="cursor:pointer; font-size:24px;"></i>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline">
                                @{ foreach (var category in @Model.Categories)
                                    {
                                        <div class="col-3 text-center mt-4 add-modal-category" data-name="@category.Name" data-img="@category.Image" onclick="selectCategory(this);">
                                            <div class="add-category-image" style="background-color:@category.ColorHex;">
                                                <img src="/images/categories/@category.Image" />
                                            </div>
                                            <p>@category.Name</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/autosize.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function setNew(button) {
            $(button).addClass("btn-checked")
            $("#used").removeClass("btn-checked")
        }
        function setUsed(button) {
            $(button).addClass("btn-checked")
            $("#new").removeClass("btn-checked")
        }

        function selectCategory(category) {
            $('#selectCategoryModal').modal('hide')
            $('.add-category span').text($(category).data('name'))
            $('#categoryImg').attr("src", "/images/categories/" + $(category).data('img'))

        }

        autosize(document.querySelectorAll('textarea'));

    </script>
}
