@model JustSellIt.Application.ViewModels.Product.ListProductForListVm

@{
    ViewData["Title"] = "Products";
}


<partial name="_AlertPanel" />

<form asp-action="SearchProducts" asp-controller="Product" method="post">

    <partial name="_SearchPanel" />

    @{if (Model.Count != 0)
        {
            <h1 class="add-title mt-5 mb-5" style="font-weight:bold;text-align:center">Znalezione ogłoszenia</h1>
        }
        else
        {
            <h1 class="add-title mt-5" style="font-weight:bold;text-align:center">Nie znaleziono produktu</h1>
            <div class="not-found text-center mb-4">
                <img class="img-fluid" src="~/images/other/notFound.png" alt="Not Found" />
            </div>
        }
    }


    <partial name="_ProductTile" />

    @{if (Model.Count != 0)
        {
            <partial name="_Pagination" />
        }
    }


</form>


