@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link btn-nav-style2 ml-sm-3" asp-controller="Product" asp-action="Addproduct">Dodaj ogłoszenie</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link btn-nav-style1 ml-3">Wyloguj się</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn-nav-style2 ml-lg-3" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-nav-style1 ml-lg-3" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
        </li>
    }
</ul>
