@model JustSellIt.Application.Interfaces.ISearch

<div class="search">
    <div class="input-group">
        <i class="fas fa-search input-icon icon-border"></i>
        <input type="text" asp-for="@Model.SearchString" id="searchString" class="form-control input-search-title" autocomplete="off" placeholder="Tutaj wpisz co cię interesuje..." />
        @{ if (!String.IsNullOrEmpty(Model.SearchString))
            {
                <i id="clearString" class="fas fa-times clear" onclick="ClearString()"></i>
            }
        }
    <div class="input-group-append location-search">
        <i class="fas fa-map-marker-alt input-icon"></i>
        <input type="text" asp-for="@Model.SearchLocation" id="searchLocation" placeholder="Cała Polska" class="form-control input-search-location" />
        @{ if (!String.IsNullOrEmpty(Model.SearchLocation))
            {
                <i id="clearLocation" class="fas fa-times clear" onclick="ClearLocation()"></i>
            }
        }
    </div>
        <div class="input-group-append search-confirm">
            <button type="submit" id="submitSearch" value="Szukaj" class="btn btn-search">Szukaj <i class="fas fa-search"></i></button>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchString").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Product/AutoCompleteString",
                    dataType: "json",
                    data: {
                        text: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                })
            }
        });
        $("#searchLocation").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Product/AutoCompleteLocation",
                    dataType: "json",
                    data: {
                        text: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                })
            }
        });
    });
    function ClearString() {
        $("#clearString").addClass("d-none");
        $("#searchString").val("");
        $("#submitSearch").click();
    }
    function ClearLocation() {
        $("#clearLocation").addClass("d-none");
        $("#searchLocation").val("");
        $("#submitSearch").click();
    }
</script>