.add-storePolicy {
    font-size: 12px;
    color: var(--main-color);
}

.add-required {
    color: #e02020;
    font-weight: bold;
}

.add-caption {
    background-color: var(--main-color);
    border-radius: .25rem .25rem 0 0;
    color: white;
    padding-top: 3px;
    padding-left: 5px;
    font-weight: 400;
    margin-top: 20px;
}

.add-field {
    border-radius: 0 0 .25rem .25rem;
    background-color: var(--bg-color);
}

.add-section {
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    padding: 10px 20px 25px 20px;
    border: 2px solid var(--main-color);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.add-title {
    color: var(--main-color);
}

    .add-title i {
        font-size: 40px;
    }

.add-subtitle span {
    color: var(--main-color);
    font-size: 30px;
    margin-left: 15px;
}

.add-checkbox {
    transform: scale(1.5);
}

.add-btn {
    background-color: var(--main-color);
    color: white;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
    padding: 8px 15px 8px 15px;
    border: 3px solid var(--main-color);
    width:250px;
}

    .add-btn:hover {
        color: var(--main-color);
        background-color: white;
        cursor: pointer;
    }

.add-text {
    font-size: 18px;
    color: var(--main-color);
}

.add-category {
    background-color: var(--bg-color);
    color: white;
    padding: 20px 20px 20px 20px;
    border-radius: .25rem .25rem .25rem .25rem;
    border: 1px solid #ced4da;
    color: var(--main-color);
    font-weight: 600;
    font-size: 20px;
    max-width: 320px;
    min-height: 44px;
    cursor: pointer;
}

    .add-category img {
        width: 40px;
        height: 40px;
    }

.add-upload {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-size: 20px;
    text-align: center;
    padding: 35px 0px 35px 0px;
    border-radius: .25rem .25rem .25rem .25rem;
    cursor: pointer;
    border: 1px solid #ced4da;
    min-width: 105px;
}

.add-upload-main {
    padding: 30px 0px 30px 0px;
    background-color: var(--second-color);
    border-radius: .25rem .25rem .25rem .25rem;
    text-align: center;
    cursor: pointer;
    min-width: 105px;
}

    .add-upload-main span {
        color: white;
    }

.add-user-profile {
    text-align: center;
}

    .add-user-profile img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
    }

    .add-user-profile p {
        font-size: 23px;
        color: var(--main-color);
    }

.add-price {
    display: inline-table;
    max-width: 250px;
    max-height: 34px;
}

.add-modal-category {
    cursor: pointer;
}

    .add-modal-category img {
        width: 50px;
        height: 50px;
        margin-top: 15px;
    }

    .add-modal-category .add-category-image {
        border-radius: 50%;
        height: 80px;
        width: 86.5px;
        transition: all 0.4s;
    }

    .add-modal-category p {
        font-weight: bold;
    }

    .add-modal-category:hover .add-category-image {
        transform: scale(0.9);
    }
/*---------------------------------Responsive*/
@media only screen and (max-width: 991px) {
    .add-category {
        font-size: 14px;
    }

        .add-category img {
            transform: scale(0.7);
        }

    add-category span {
        margin-left: 0 !important;
        text-align: center;
    }
}

@media only screen and (max-width: 339px) {
    .add-title i {
        visibility: hidden;
        position: absolute;
    }

    .add-title h1 {
        text-align: center;
        margin: 0px !important;
    }
}

@media only screen and (max-width: 333px) {
    .add-upload-main {
        margin: auto;
        margin-bottom: 20px;
    }

    .add-upload {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 327px) {
    .add-status .add-text {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .add-status input {
        display: block;
        margin-top: 20px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .add-status {
        text-align: center;
        margin-top: 20px !important;
    }

    .add-category img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }

    .add-category span {
        text-align: center;
        display: block;
        margin: auto !important;
    }
}

@media only screen and (max-width: 313px) {
    .add-upload:nth-child(1) {
        margin-top: -40px;
    }
}

@media only screen and (max-width: 282px) {
    .add-negotiate .add-text {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .add-negotiate .switch {
        display: block;
        margin-top: 20px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .add-negotiate {
        text-align: center;
    }
}
