@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --main-color: #36486b;
    --bg-color: #f2f4f5;
    --font-color: #406367;
    --second-color: #92a8d1;
    --border-color: #dee2e6;
}

body {
    background-color: var(--bg-color);
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
    margin-bottom:0;
}

.modal {
    color: var(--main-color);
}

.navbar {
    background-color: var(--main-color) !important;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    position:sticky !important;
}


.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.form-control:active, .form-control:focus {
    outline: 0 !important;
    box-shadow: none !important;
    background-color: var(--bg-color);
    border-color: #ced4da;
    border-bottom: 5px solid var(--main-color);
}

.btn-nav-style1 {
    background-color: white;
    border: 3px solid white;
    color: var(--main-color) !important;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 15px 10px 15px !important;
    font-weight: bold;
    transition: 0.4s;
}


    .btn-nav-style1:hover {
        background-color: var(--main-color);
        color: white !important;
    }

.btn-nav-style2 {
    border: 3px solid white;
    color: white !important;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 15px 10px 15px !important;
    font-weight: bold;
    transition:0.2s;
}

    .btn-nav-style2:hover {
        border: 7px solid white;
        padding: 4px 11px 6px 11px !important;
        color: white !important;
    }

    @media (max-width:575px){
        .btn-nav-style2, .btn-nav-style1{
            text-align:center;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:10px;
        }
    }

.btn-submit {
    color: var(--main-color);
    font-size: 22px;
    transition: 0.2s;
    font-weight: 400;
    background-color: white;
    padding: 15px 35px 15px 35px;
    border: solid 3px var(--main-color);
}

    .btn-submit:hover {
        color: var(--main-color) !important;
        padding: 10px 30px 10px 30px;
        border: solid 8px var(--main-color);
    }

.btn-submit-sm {
    color: var(--main-color);
    font-size: 20px;
    transition: 0.2s;
    font-weight: 400;
    background-color: white;
    padding: 8px 30px 8px 30px;
    border: solid 3px var(--main-color);
}

    .btn-submit-sm:hover {
        color: var(--main-color) !important;
        padding: 5px 27px 5px 27px;
        border: solid 6px var(--main-color);
    }

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}
/*---------------------------------TOOLTIP*/

.tooltip-inner {
    background-color: #3567f1;
    text-align: left;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: #3567f1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: #3567f1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #3567f1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #3567f1;
}

@media only screen and (max-width: 767px) {
    .tooltip-inner {
        display: none;
    }

    .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
    .bs-tooltip-right .arrow::before {
        display: none;
    }
}
/*---------------------------------SWITCH*/

.switch {
    position: relative;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--main-color);
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*---------------------------------GROUPTEXT*/

.input-group-text {
    border-radius: 0 0 .25rem .25rem;
    color: var(--main-color);
}
/*---------------------------------BUTTON CHECKED*/

.btn-status input {
    background-color: var(--second-color);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn-checked {
    background-color: var(--main-color) !important;
}

.btn:hover {
    color: white;
}

.btn:focus {
    box-shadow: none !important;
}
/*---------------------------------PAGINATION*/

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 50px;
}

    .pagination .page {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        line-height: 1.25;
        color: white;
        border: 1px solid #f2f4f5;
        background-color: var(--main-color);
        transition: .3s;
    }

    .pagination .first-page {
        border-radius: 0.25rem 0 0 0.25rem;
    }

    .pagination .last-page {
        border-radius: 0 0.25rem 0.25rem 0;
    }

    .pagination .only-one-page {
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    }

    .pagination .page:hover {
        background-color: var(--second-color);
    }

    .pagination .active-page {
        background-color: var(--second-color) !important;
    }

        .pagination .active-page:hover {
            cursor: default;
        }

    .pagination .previous {
        font-size: 20px;
        margin-right: 10px;
        margin-top: 3px;
        color: var(--main-color);
        transition: .3s;
    }

        .pagination .previous:hover {
            color: var(--second-color);
        }

    .pagination .next {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 3px;
        color: var(--main-color);
        transition: .3s;
    }

        .pagination .next:hover {
            color: var(--second-color);
        }

/*---------------------------------SEARCH*/

.search {
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    margin-top: 35px;
}

.btn-search {
    margin: 0;
    color: #fff;
    background-color: var(--main-color);
    border: none !important;
    border-radius: 0 0.25rem 0.25rem 0;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}

    .btn-search:hover {
        color: #fff;
        background-color: #55678a;
        border-color: #55678a;
    }

.input-search-title {
    border-radius: 0.25rem 0 0 0.25rem;
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
    height: 60px;
    border: none;
}

    .input-search-title:active, .input-search-title:focus, .input-search-location:active, .input-search-location:focus {
        outline: 0 !important;
        box-shadow: none !important;
        background-color: white;
        color: var(--main-color);
        border: none;
        font-weight: bold;
    }

.btn-search i {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.input-search-location {
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
    height: 60px;
    border: none;
    border-radius: 0;
}

.input-icon {
    background-color: white;
    color: var(--main-color);
    padding: 20px 10px 0 20px;
    font-size: 20px;
}

.location-search {
    border-left: 2px solid var(--border-color);
}


@media (max-width: 767px) {

    .location-search {
        border: none;
        display: contents;
    }

        .location-search input {
            padding-left: 60px;
            padding-right: 140px;
        }

        .location-search i {
            position: absolute;
            top: 60px;
            left: 0;
        }

    .search-confirm {
        position: absolute;
        top: 60px;
        right: 0;
    }

    .btn-search {
        border-radius: 0;
    }

    .input-search-title {
        padding-bottom: -10px;
        border-bottom: 1px solid var(--border-color);
    }

        .input-search-title:hover, .input-search-title:active, .input-search-title:focus {
            border-bottom: 1px solid var(--border-color);
        }

    .icon-border {
        border-bottom: 1px solid var(--border-color);
    }
}
