.ownerInfo {
    background-color: white;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    color: var(--main-color);
    padding: 20px 0px;
}

    .ownerInfo img {
        border-radius: 50%;
        border: solid 2px var(--main-color);
        max-width: 150px;
        max-height: 150px;
    }

    .ownerInfo .owner-name {
        font-size: 35px;
        font-weight: bold;
        margin-top: 0px;
    }

    .ownerInfo .owner-location {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .ownerInfo .owner-created {
        color: #7f9799 !important;
    }

    .ownerInfo .owner-count {
        position: absolute;
        right: 50px;
        bottom: 0px;
    }

    .ownerInfo .owner-data {
        border-left: 1px solid #dee2e6 !important;
    }

@media(max-width:1199px) {
    .ownerInfo .owner-count {
        right: -40px !important;
    }
}

@media(max-width:767px) {
    .ownerInfo .owner-count {
        right: 10px !important;
    }
}

@media(max-width:575px) {
    .ownerInfo .owner-data {
        text-align: center;
        border: none;
    }

    .ownerInfo .owner-created {
        margin-bottom:0px;
    }

    .ownerInfo .owner-hr-top {
        border-top: 1px solid #dee2e6 !important;
        width: 200px;
        text-align: center;
        display: inline-flex;
    }

    .ownerInfo .owner-hr-bottom {
        border-bottom: 1px solid #dee2e6 !important;
        width: 200px;
        text-align: center;
        display: inline-flex;
    }
    .ownerInfo .owner-count {
        display:block !important;
        right:0 !important;
        position:inherit !important;
        margin-bottom:10px;
    }
}
