.product-details-images {
    background-color: white;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

    .product-details-images img {
        border: solid 3px var(--bg-color);
    }

.product-details-info {
    background-color: white;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    color: var(--main-color);
}

    .product-details-info .title {
        font-weight: bold;
        font-size: 29px;
    }

    .product-details-info .price {
        font-weight: bold;
        font-size: 26px;
    }

    .product-details-info .nameField, .product-details-contact .nameField {
        font-weight: bold;
        font-size: 22px;
    }

    .product-details-info .description {
        font-size: 19px;
        min-height: 70px;
    }

    .product-details-info .data-border {
        border-bottom: 3px solid var(--main-color);
    }

    .product-details-info .date {
        margin-top: 10px;
    }

.product-details-contact {
    background-color: white;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    color: var(--main-color);
}

    .product-details-contact .avatar {
        border-radius: 50%;
        border: solid 2px var(--main-color);
        max-width: 150px;
        max-height: 150px;
    }

    .product-details-contact .username {
        font-size: 26px;
        font-weight: bold;
    }

    .product-details-contact .user-date {
        font-size: 15px;
        color: #7f9799;
    }

    .product-details-contact .location {
        font-size: 22px;
    }

    .product-details-contact .contact-btn {
        background-color: var(--main-color);
        color: white !important;
        border-radius: 5px;
        display: inline-flex;
        padding: 7px 60px 7px 60px;
        font-weight: bold;
        font-size: 18px;
        transition: 0.4s;
    }

.contact-btn:hover {
    cursor: pointer;
    background-color: var(--second-color);
}

.product-details-contact .user-products {
    display: inline-flex;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 5px solid var(--main-color);
    transition: 0.2s;
}

    .product-details-contact .user-products:hover {
        cursor: pointer;
        color: var(--second-color) !important;
        border-color: var(--second-color);
    }

.product-details-contact .user-btns a + a {
    margin-left: 30px;
}

.btn-info-details {
    border: solid 2px var(--main-color);
    display: inline-flex;
    padding: 7px 20px 7px 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

    .btn-info-details + .btn-info-details {
        margin-left: 20px;
    }

.direction-details {
    color: var(--main-color);
    font-size: 17px;
}

    .direction-details i {
        transition: 0.2s;
    }

        .direction-details i:hover {
            cursor: pointer;
            color: var(--second-color);
        }

.product-manage {
    text-align:center;
    margin-bottom:20px !important;
}

.btn-delete {
    background-color: #990033;
    padding: 8px 20px;
    font-weight: bold;
    color:white !important;
}

.btn-edit {
    background-color: #009966;
    padding: 8px 20px;
    font-weight: bold;
    color: white !important;
}

    .product-details-info .btn-edit+.btn-delete{
        margin-left:10px;
    }

    .btn-delete:hover, .btn-edit:hover {
        opacity: 0.8;
        cursor: pointer;
    }

.product-details-info .info-veryfication {
    position: absolute;
    right: 0px;
    top: 0;
    padding: 7px 15px;
    background-color: #FFFF00;
    border-radius: 0 0 0 5px;
    color: var(--main-color);
    font-weight: bold;
}

.product-details-info .info-draft {
    position: absolute;
    right: 0px;
    top: 0;
    padding: 7px 15px;
    background-color: #e040fb;
    border-radius: 0 0 0 5px;
    color: white;
    font-weight: bold;
}

.product-details-info .info-rejected {
    position: absolute;
    right: 0px;
    top: 0;
    padding: 7px 15px;
    background-color: #ff5722;
    border-radius: 0 0 0 5px;
    color: white;
    font-weight: bold;
}

.details-reason{
    
}

@media (max-width:485px) {
    .user-image {
        margin-left: 10px;
    }

    .user-info {
        margin-left: 50px;
    }

    .user-btns {
        margin-top: 20px !important;
    }

    .contact-btn {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (max-width:459px) {
    .btn-info-details:nth-child(6) {
        margin-left: 0px !important;
        display: table;
    }
}

@media (max-width:450px) {
    .btn-info-details:nth-child(5) {
        margin-left: 0px !important;
        display: table;
    }
}

@media (max-width:387px) {
    .product-details-contact .user-products {
        margin-bottom: 20px;
    }
}

@media (max-width:371px) {
    .user-image {
        margin-left: auto !important;
        margin-right: auto !important;
        display: table;
    }

    .user-info {
        margin-left: auto !important;
        margin-right: auto !important;
        display: table;
        text-align: center;
        border-left: none !important;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }
}

@media (max-width:318px) {
    .btn-info-details:nth-child(3) {
        margin-left: 0px !important;
        display: table;
    }

    .btn-info-details:nth-child(4) {
        margin-left: 0px !important;
        display: table;
    }
}
